version: "3"

networks:
  gitea:
    external: false
  devnet:
    driver: bridge
    
volumes:
  data:
  deploy:
  nexus-data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql_data:
  
services:
  jenkins:
    build:
      context: ./jenkins
    container_name: jenkins
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    networks:
      - devnet
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - JENKINS_ADMIN_USER=${JENKINS_ADMIN_USER:-admin}
      - JENKINS_ADMIN_PASS=${JENKINS_ADMIN_PASS:-admin}
    volumes:
      - "$PWD/jenkins_home:/var/jenkins_home"
      - "deploy:/deploy"
      - "nexus-data:/nexus-data:ro"
#    environment:
#        - CASC_JENKINS_CONFIG=/jenkins_config/jenkins.yaml
  nexus:
    image: sonatype/nexus3:3.70.0
    container_name: nexus
    ports:
      - "8081:8081"
    networks:
      - devnet
    volumes:
      - "nexus-data:/nexus-data"
      
  gitea:
    image: docker.gitea.com/gitea:1.25.4
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__repository__DEFAULT_BRANCH=main
    restart: always
    networks:
      - gitea
      - devnet
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
     
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube
    restart: always
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      nproc: 4096
    mem_limit: 4g
    ports:
      - "127.0.0.1:9000:9000"
    networks:
      - devnet
    depends_on:
      - sonardb
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://sonardb:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    volumes:
      - "sonarqube_data:/opt/sonarqube/data"
      - "sonarqube_extensions:/opt/sonarqube/extensions"
      - "sonarqube_logs:/opt/sonarqube/logs"
      
  sonardb:
    networks:
      - devnet
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - "postgresql_data:/var/lib/postgresql/data"

  cadvisor:
    image: google/cadvisor
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
    ports:
      - "8090:8080"
    networks:
      - devnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8088:80"
    networks:
      - devnet
    volumes:
      - "deploy:/usr/share/nginx/html:ro"

  deployer:
    build:
      context: ./deployer
    container_name: deployer
    depends_on:
      - nexus
    networks:
      - devnet
    environment:
      - NEXUS_BASE_URL=http://nexus:8081
      - NEXUS_REPO=web
      - NEXUS_PATH=hello-world/index.html
      - POLL_SECONDS=5
      - DEPLOY_FILE=/deploy/index.html
    volumes:
      - "deploy:/deploy"
      - "nexus-data:/nexus-data:ro"
